{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {{ form_start(form) }}
    {{ form_row(form.name, { 'attr': {"placeholder":"max. 50 Zeichen"}, "label": "Name des Restaurant: " }) }}
    {{ form_row(form.categories, { 'attr': {"placeholder":""}, "label": "Kategorie: " }) }}
    {{ form_row(form.website, { 'attr': {"placeholder":"www.restaurant.de"}, "label": "Webseite: " }) }}
    {{ form_row(form.city, { 'attr': {"placeholder":""}, "label": "Stadt: " }) }}
    {{ form_row(form.street, { 'attr': {"placeholder":"Musterstraße"}, "label": "Straße: " }) }}
    {{ form_row(form.houseNo, { 'attr': {"placeholder":""}, "label": "Hausnummer: " }) }}
    <button type="submit" class="btn btn-success">Eintragen</button>
    {{ form_end(form) }}

{% endblock %}

{% block description %}
    <a class="btn btn-default btn-sm btn-block"
       href="{{ path('restaurant_view') }}">Abbrechen</a>
    <br>
    <p>Trage hier die Daten für ein neues Restaurant ein. Achte darauf, dass du die richtigen Daten einträgst!</p>
    <p>Sollte mal eine Stadt fehlen frage einen Admin, damit wir die Stadt hinufügen können!</p>
{% endblock %}
