{% extends 'base.html.twig' %}

{% block body %}

    <b>Alle Restaurants:</b>
    <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Kategorien</th>
            <th>Stadt</th>
            <th>Straße</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.name }}</td>
                <td>
                    {% for cat in restaurant.categories.values %}
                        <span class="label label-default">{{ cat.categoryName }}</span>
                        {% endfor %}
                </td>
                <td>{{ restaurant.city.cityName }}</td>
                <td>{{ restaurant.street }} {{ restaurant.houseNo }}</td>
                <td>{% if 'http' not in restaurant.website %}
                        <a class="btn btn-default" role="button" href="http://{{ restaurant.website }}" target="_blank">
                            <span class="glyphicon glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </a>
                    {% else %}
                        <a class="btn btn-default" role="button" href="{{ restaurant.website }}" target="_blank">
                            <span class="glyphicon glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </a>
                    {% endif %}
                    <a class="btn btn-default" role="button" target="_blank" href="{{ restaurant.genMapsLink }}">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}

{% block description %}
    <a class="btn btn-success btn-sm btn-block"
       href="{{ path('restaurant_add') }}">Neues Restaurant eintragen</a>
    <br>
    <p>Ein cooles Restaurant fehlt noch? Trage es einfach ein! Ordne dem Restaurant einen Ort und passende Kategorien hinzu.</p>
    <p>Jeder kann dann in den Gruppen Restaurants hinzufügen oder wieder rauslöschen.</p>

{% endblock %}