{% extends 'base_login.html.twig' %}

{% block body %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {{ form_start(form) }}

    <div class="container">
        <div class="form-signin">
            <h2 class="form-signin-heading">Registrieren</h2>
        <div>
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {'attr': {'placeholder': 'Username'}}) }}
        </div>
        <div>
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'placeholder': 'E-Mail'}}) }}
        </div>
        <div>
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Passwort'}}) }}
        </div>
        <div>
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Passwort wiederholen'}}) }}
        </div>
        <button class="btn btn-primary btn-block" type="submit">Register!</button>
        </div>

    </div> <!-- /container -->






    {{ form_end(form) }}

{% endblock %}

{% block description %}
    Erstelle deinen eigenen Account und sei Teil der Wheel Of Fortune Community!
{% endblock %}
