{% extends 'base.html.twig' %}

{% block body %}

    <b>Deine Gruppen:</b>
    <table class="table table- table-responsive">
        <thead>
        <tr>
            <th>Name</th>
            <th>Beschreibung</th>
            <th>Ort</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for group in user.groups %}
            <tr>
                <td><a href="{{ path('group_details', { 'group': group.id }) }}">{{ group.name }}</a></td>
                <td>{{ group.description }}</td>
                <td>{{ group.city.cityName }}</td>
                <td><a class="btn btn-info btn-sm" href="{{ path('group_details', { 'group': group.id }) }}">Details</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block description %}
    Alle Unterseiten und Funktionalitäten im Überblick.
{% endblock %}


