{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="flash-notice">
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        </div>
    {% endfor %}

    <h2 class="form-signin-heading">{{ group.name }}</h2>

    <div class="row">
        <div class="col-md-4">
            <a href="{{ path('group_listRestaurant', { 'group': group.id }) }}"
               class="btn btn-block btn-lg btn-default">Liste bearbeiten</a>
        </div>
        <div class="col-md-4">
            <a href="{{ path('group_roll', { 'group': group.id }) }}" class="btn btn-block btn-lg btn-default">Essens Glückrad drehen!</a>
        </div>
        <div class="col-md-4">
            <a href="{{ path('group_meeting', { 'group': group.id }) }}" class="btn btn-block btn-lg btn-default">Planen</a>
        </div>
    </div>

    {% if group.restaurants.count is same as(0) %}
        <div class="text-center"><br>
            <h2>Füge der Gruppe Restaurants hinzu!</h2></div>

    {% else %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Kategorien</th>
                    <th>Stadt</th>
                    <th>Straße</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for restaurant in group.restaurants %}
                    <tr>
                        <td>{{ restaurant.name }}</td>
                        <td>
                            {% for cat in restaurant.categories.values %}
                                <span class="label label-default">{{ cat.categoryName }}</span>
                            {% endfor %}
                        </td>
                        <td>{{ restaurant.city.cityName }}</td>
                        <td>{{ restaurant.street }} {{ restaurant.houseNo }}</td>
                        <td>{% if 'http' not in restaurant.website %}
                                <a class="btn btn-default" role="button" href="http://{{ restaurant.website }}"
                                   target="_blank">
                                    <span class="glyphicon glyphicon glyphicon-globe" aria-hidden="true"></span>
                                </a>
                            {% else %}
                                <a class="btn btn-default" role="button" href="{{ restaurant.website }}"
                                   target="_blank">
                                    <span class="glyphicon glyphicon glyphicon-globe" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                            <a class="btn btn-default" role="button" target="_blank"
                               href="{{ restaurant.genMapsLink }}">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}

{% block description %}
    <a class="btn btn-default btn-sm btn-block"
       href="{{ path('group_view') }}">Zur Übersicht</a>
    <a class="btn btn-danger btn-sm btn-block"
       href="{{ path('group_left', { 'group': group.id }) }}">Gruppe verlassen</a>
    {% if group.users.count is same as(1) %}
        <a class="btn btn-danger btn-sm btn-block"
           href="{{ path('group_delete', { 'group': group.id }) }}">Gruppe löschen</a>
    {% endif %}
    <br>

    <ul class="list-group">
        <li class="list-group-item clearfix"><b>Name</b>
            <div class="pull-right"> {{ group.name }}</div>
        </li>
        <li class="list-group-item clearfix"><b>Standort</b>
            <div class="pull-right"> {{ group.city.cityName }}</div>
        </li>
        <li class="list-group-item clearfix"><b>Gründer</b>
            <div class="pull-right"> {{ group.createdBy }}</div>
        </li>
        <li class="list-group-item clearfix"><b>Erstellt am</b>
            <div class="pull-right"> {{ group.createdAt|date ('d.m.Y') }}</div>
        </li>
        <li class="list-group-item clearfix"><b>Beschreibung</b><br>{{ group.description }}</li>
    </ul>

    <ul class="list-group">
        <li class="list-group-item"><b>Mitglieder</b><span class="badge">{{ group.users.count }}</span></li>
        {% for user in group.users %}
            <li class="list-group-item">{{ user }}</li>
        {% endfor %}
    </ul>


{% endblock %}
