{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Username</div>
        <div class="panel-body">
            {{ user.username }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">E-Mail</div>
        <div class="panel-body">
            {{ user.email }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Infos</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <strong>Erstellt am:</strong><br> {{ user.createdAt|date ('d.m.Y') }}
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <strong>Letzer Login:</strong><br> {{ user.lastLogin|date ('d.m.Y') }}
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <strong>Letzte Änderung:</strong><br> {{ user.createdAt|date ('d.m.Y') }}
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <strong>Deine Gruppen:</strong><br> {{ user.groups.count }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="alert alert-danger">
            <a href="#" class="btn btn-danger btn-block disabled">Account löschen! (Disabled)</a>
        </div>
    </div>
    </div>

{% endblock %}

{% block description %}
    Deine Profildaten zum bearbeiten.
{% endblock %}
